<a href="https://colab.research.google.com/github/om640/pyhon_assignment89/blob/main/Assignment2()102317189.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [ ]:
# the given list
L = [10,20,30,40,50,60,70,80]

# adding 200 and 300 in L.

L.append(200)
L.append(300)
print("after adding 200 and 300",L)

# removing 10 and 30 from L
L.remove(10)
L.remove(30)
print("after removing 10 and 30",L)

# sorting L in ascending order
L.sort()
print("after sorting L",L)

# sorting L in descending order
L.sort(reverse = True)
print("after sorting in descending order",L)

after adding 200 and 300 [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
after removing 10 and 30 [20, 40, 50, 60, 70, 80, 200, 300]
after sorting L [20, 40, 50, 60, 70, 80, 200, 300]
after sorting in descending order [300, 200, 80, 70, 60, 50, 40, 20]

Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score â€˜76â€™ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying itâ€™s not present.

In [ ]:
# The given tuple
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

# Identifying the highest score and its index
highest_score = max(scores)
highest_score_index = scores.index(highest_score)
print("The highest score is: ", highest_score)
print("The index of the highest score is: ", highest_score_index)

# Finding the lowest score and count how many times it appears
lowest_score = min(scores)
count_lowest_score = scores.count(lowest_score)
print("The lowest score is: ", lowest_score)
print("The count of the lowest score is: ", count_lowest_score)

# Reverse the tuple and return it as a list
reversed_scores = list(scores[::-1])
print("The reversed tuple is:", reversed_scores)

# Check if a specific score â€˜76â€™ is present in the tuple and print its first occurrence index
target_score = 76

if target_score in scores:
    occurrence_index = scores.index(target_score)
    print(f"The score {target_score} is present at index:", occurrence_index)
else:
    print(f"The score {target_score} is not present in the tuple")

The highest score is:  92
The index of the highest score is:  5
The lowest score is:  45
The count of the lowest score is:  2
The reversed tuple is: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
The score 76 is present at index: 2

WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
import random
# creating the list of 100 random numbers between 100 and 900
numbers = [random.randint(100,900) for _ in range(100)]

# to check the prime numbers
def is_prime(n):
  if n<= 1:
    return False
  for i in range(2,int(n**0.5)+1):
    if n % i ==0:
      return False
  return True

  #to store the odd, even and prime numbers
odd_numbers = []
even_numbers = []
prime_numbers = []

for num in numbers:
  if num % 2 == 0:
    even_numbers.append(num)
  else:
    odd_numbers.append(num)

  if is_prime(num):
    prime_numbers.append(num)

#printing the result
print("list of random numbers:",numbers)
print("even numbers :",even_numbers)
print("count of even numbers",len(even_numbers))
print("odd numbers : ", odd_numbers)
print("count of odd numbers: ",len(odd_numbers))
print("prime numbers : ",prime_numbers)
print("count of prime numbers",len(prime_numbers))

list of random numbers: [269, 455, 754, 749, 440, 795, 383, 306, 774, 695, 386, 820, 817, 161, 403, 387, 234, 621, 665, 623, 186, 533, 716, 704, 396, 337, 558, 645, 698, 437, 648, 569, 244, 347, 569, 723, 295, 489, 118, 849, 473, 565, 656, 783, 690, 708, 857, 302, 895, 293, 430, 219, 780, 651, 285, 682, 353, 320, 688, 216, 647, 606, 254, 589, 552, 743, 269, 581, 100, 530, 330, 507, 850, 375, 125, 660, 459, 201, 744, 780, 243, 448, 893, 729, 606, 188, 480, 615, 640, 650, 849, 195, 649, 512, 127, 647, 585, 402, 877, 183]
even numbers : [754, 440, 306, 774, 386, 820, 234, 186, 716, 704, 396, 558, 698, 648, 244, 118, 656, 690, 708, 302, 430, 780, 682, 320, 688, 216, 606, 254, 552, 100, 530, 330, 850, 660, 744, 780, 448, 606, 188, 480, 640, 650, 512, 402]
count of even numbers 44
odd numbers :  [269, 455, 749, 795, 383, 695, 817, 161, 403, 387, 621, 665, 623, 533, 337, 645, 437, 569, 347, 569, 723, 295, 489, 849, 473, 565, 783, 857, 895, 293, 219, 651, 285, 353, 647, 589, 743, 269, 581, 507, 375, 125, 459, 201, 243, 893, 729, 615, 849, 195, 649, 127, 647, 585, 877, 183]
count of odd numbers:  56
prime numbers :  [269, 383, 337, 569, 347, 569, 857, 293, 353, 647, 743, 269, 127, 647, 877]
count of prime numbers 15

Consider the following two sets, A and B, represenÆŸng scores of two teams in mulÆŸple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaÆŸons using set funcÆŸons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenÆŸfy the scores that are common to both teams (intersecÆŸon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score ð‘‹ (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [ ]:
A = {34,56,78,90}
B = {78,45,90,23}

union_marks = A.union(B)
print("union scores achieved by both teams :",union_marks)

common_marks = A.intersection(B)
print("common scores achieved by both teams",common_marks)

symmetric_marks = A.symmetric_difference(B)
print("scores symmetruc to each other ",symmetric_marks)

is_subset = A.issubset(B)
is_superset = B.issuperset(A)

print("team A's scores are a subset of team B",is_subset)
print("team B's scores are a superset of team A",is_superset)

W = int(input("Enter the score to remove from set A: "))

if W in A:
  A.remove(W)
  print("score",W,"removed from set A.",A)
else:
 print("score",W,"is not present in set A.")

union scores achieved by both teams : {34, 45, 78, 23, 56, 90}
common scores achieved by both teams {90, 78}
scores symmetruc to each other  {34, 45, 23, 56}
team A's scores are a subset of team B False
team B's scores are a superset of team A False
Enter the score to remove from set A: 77
score 77 is not present in set A.

Consider the following two sets, A and B, represenÆŸng scores of two teams in mulÆŸple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaÆŸons using set funcÆŸons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenÆŸfy the scores that are common to both teams (intersecÆŸon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score ð‘‹ (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [ ]:
sample_dict = {
    "name": "kelly",
    "age" : 25,
    "salary" : 8000,
    "city" : "New york"
}

sample_dict["location"] = sample_dict.pop("city")

print(sample_dict)

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}